.bio-content {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    width: 600px;
    position: absolute;
    margin-top: 45vh;
    transform: translateY(-45%);
    right: 10%;
    background-image: url("../images/content/border.png");
    background-size: cover;

    @media only screen and (max-width: 1250px) {
        position: fixed;
        height: 70vh;
        width: 50%;
        left: 50%;
        top: 50%;
        margin: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    @media only screen and (max-width: 750px) {
        width: calc(100% - 50px);
        height: calc(100% - 100px);
    }

    .bio-content__text-wrapper {
        padding: 50px;
        padding-left: 80px;
        padding-right: 80px;

        @media only screen and (max-width: 750px) {
            padding: 20px;
            padding-left: 30px;
            padding-right: 30px;
        }

        .bio-content__text {
            color: $dollkraut-grey;
            font-family: 'Aver';
            font-size: 24px;

            @media only screen and (max-width: 750px) {
                font-size: 17px;
            }
        }
    }
}

.bio-dj {
    opacity: 0;
    z-index: 1;

    &.is-active {
        opacity: 1;
        z-index: 100;
    }
}

.bio-band {
    opacity: 0;
    z-index: 1;

    &.is-active {
        opacity: 1;
        z-index: 100;
    }
}
