.info-wrapper__music-list {
    width: 100%;
    display: block;
    margin: 0;
    float: left;
    padding: 0;


    .info-wrapper__list-item {
        list-style-type: none;
        display: block;
        width: 100%;
        list-style-type: none;
        display: block;
        float: left;
        margin-bottom: 50px;

        &--first {
            margin-top: 50px;
        }

        .info-wrapper__music {
            background-size: cover;
            display: block;
            margin-left: 50%;
            transition: ease-in-out 150ms;
            transform: translateX(-50%);

            &:hover {
                cursor: pointer;
            }

            &--spotify {
                background-image: url("../images/logos/Spotify.png");
                height: 70px;
                width: 220px;

                @media only screen and (max-width: 600px) {
                    height: 35px;
                    width: 110px;
                }

                &:hover {
                    background-image: url("../images/logos/Spotify-hover.png");
                }
            }

            &--youtube {
                background-image: url("../images/logos/Youtube.png");
                height: 70px;
                width: 265px;

                @media only screen and (max-width: 600px) {
                    height: 35px;
                    width: 132px;
                }

                &:hover {
                    background-image: url("../images/logos/Youtube-hover.png");
                }
            }

            &--bandcamp {
                background-image: url("../images/logos/Bandcamp.png");
                height: 65px;
                width: 400px;

                @media only screen and (max-width: 600px) {
                    height: 32px;
                    width: 200px;
                }

                &:hover {
                    background-image: url("../images/logos/Bandcamp-hover.png");
                }
            }

            &--soundcloud {
                background-image: url("../images/logos/Soundcloud.png");
                width: 94px;
                height: 90px;

                @media only screen and (max-width: 600px) {
                    height: 53px;
                    width: 55px;
                }

                &:hover {
                    background-image: url("../images/logos/Soundcloud-hover.png");
                }
            }
        }
    }
}
